<!DOCTYPE html>
<html lang="en" data-framework="purescript">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <style>
    body {
      background-color: aliceblue;
      display: flex;
      justify-content: center;
    }

    canvas {
      background-color: white;
    }
  </style>

  <body>
    <audio autoplay="autoplay" loop="loop">
        <source src="/resources/octopus-bg-music.wav" />     
    </audio>
      <canvas id="canvas" width="800" height="600"></canvas>
      <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>

